<%- include('partials/header.ejs') %>
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div
              class="card-header"
              style="height: 70px; background-color: #6fd943"
            >
              <div class="col-12">
                <h4 class="float-left">Category</h4>
                <div class="head-right-btn">
                  <button
                    class="btn btn-sm btn-secondary float-right card-text-btn"
                    type="submit"
                    data-toggle="modal"
                    data-target="#add"
                  >
                    <a
                      href="#"
                      data-ajax-popup="true"
                      data-size="md"
                      data-title="Invite New User"
                      data-toggle="tooltip"
                      title=""
                      data-bs-original-title="Add Category"
                    >
                      Add
                    </a>
                  </button>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive p-2">
                    <table
                      id="category-table"
                      class="table table-striped table-bordered add-button"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tfoot></tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Category Modal -->
  <div class="modal fade" id="add">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Category</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form id="addform" class="mx-5">
            <div class="mb-3">
              <label>Category Name: </label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Category Name"
              />
            </div>
            <button type="submit" class="btn btn-info mt-3 pull-right">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Category Modal -->
  <div class="modal fade" id="edit">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Category</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form id="editform" class="mx-5">
            <input type="hidden" id="editid" name="editid" />

            <div class="mb-3">
              <label>Category Name: </label>
              <input
                type="text"
                class="form-control"
                id="editname"
                name="editname"
                placeholder="Category Name"
              />
            </div>
            <button type="submit" class="btn btn-info mt-3 pull-right">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
<script>
  var table = $("#category-table").DataTable({
    serverSide: true,
    ajax: {
      url: "datatable-data",
      type: "POST",
    },
    columns: [
      { data: "name" },
      {
        defaultContent: `<i id="edit_btn" class="btn btn-info btn-lg fas fa-edit"
                              data-toggle="modal" data-target="#edit"></i>
                              <i id="delete_btn"
          class="btn btn-danger btn-lg fas fa-trash-alt"></i>`,
      },
    ],
  });
</script>
<script>
    function getFormData($form) {
        var unindexedArray = $form.serializeArray();
        var indexedArray = {};
      
        $.map(unindexedArray, function (n, i) {
          indexedArray[n["name"]] = n["value"];
        });
      
        return indexedArray;
      }

    const addform = $("#addform");
    addform.on("submit", addsubmitHandler);
  
    function addsubmitHandler(e) {
      e.preventDefault();
  
      // PREPARE FORM DATA
      var formData = getFormData($(addform));
  
      // // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/category/add",
        data: JSON.stringify(formData),
      })
        .done((res) => {
          if (res.error == true) {
            renderToast({ message: res.message, icon: "error" });
          } else {
            renderToast({ message: res.message, icon: "success" });
            setTimeout(() => {
              window.location.reload();
            }, 2000);
          }
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }

  $(document).on("click", "#edit_btn", function (e) {
    var row = $(this).closest("tr");
    var data = table.row(row).data();
    $("#editid").val(data._id);
    $("#editname").val(data.name);
  });

  var editform = $("#editform");
  editform.on("submit", editSubmitHandler);

  function editSubmitHandler(e) {
    e.preventDefault();

    // PREPARE FORM DATA
    var formData = getFormData(editform);
    console.log(formData);

    // DO POST
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/admin/category/edit",
      data: JSON.stringify(formData),
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
             window.location.reload();
          }, 1000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }

  $(document).on("click", "#delete_btn", function (e) {
    if (confirm("Do you really want to delete this category")) {
      var row = $(this).closest("tr");
      tableData = table.row(row).data();
      var id = tableData._id;
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/category/delete",
        data: JSON.stringify({
          id: id,
        }),
      })
        .done((res) => {
          if (res.error == true) {
            renderToast({ message: res.message, icon: "error" });
          } else {
            renderToast({ message: res.message, icon: "success" });
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          }
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }
  });

</script>
