<%- include('partials/header.ejs') %>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row mt-1">
        <div class="col-12">
          <div class="card">
            <div
              class="card-header border"
              style="height: 70px; background-color: #6fd943"
            >
              <h4 class="float-left">Profile Update</h4>
            </div>
            <div class="card-body">
              <div class="clearfix mb-3"></div>
              <div class="row">
                <div class="mb-3">
                  <div class="col-12 col-lg-12">
                    <form
                      id="updateform"
                      class="form-group font-weight-bold showcursor: true"
                    >
                      <div class="row">
                        <div class="mb-3 col-lg-6">
                          <label for="title" class="form-label"
                            >First Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="firstname"
                            id="firstname"
                            placeholder="First Name"
                          />
                        </div>

                        <div class="mb-3 col-lg-6">
                          <label for="description" class="form-label"
                            >Last Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="lastname"
                            id="lastname"
                            placeholder="Last Name"
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="mb-3 col-lg-6">
                          <label for="description" class="form-label"
                            >Mobile Number</label
                          >
                          <input
                            type="text"
                            name="mobile_number"
                            class="form-control"
                            id="mobile_number"
                            placeholder="Mobile Number"
                          />
                        </div>
                        <div class="mb-3 col-lg-6">
                          <label for="description" class="form-label"
                            >Email</label
                          >
                          <input
                            type="email"
                            name="email"
                            class="form-control"
                            id="email"
                            placeholder="Email"
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="mb-2 col-md-6">
                          <label for="image" class="col-form-label"
                            >Image</label
                          >
                          <input
                            id="image"
                            type="file"
                            name="image"
                            class="form-control"
                          />
                        </div>
                        <div class="mb-2 col-md-6"></div>
                      </div>

                      <button
                        type="submit"
                        class="btn mt-3"
                        style="background-color: #6fd943; color: #fff"
                      >
                        Save
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include ('partials/footer.ejs') %>

<script>
  var editform = $("#updateform");

  editform.submit(function (e) {
    e.preventDefault();

    var formData = new FormData(editform[0]);
    // console.log(formData);

    $.ajax({
      type: "POST",
      cache: false,
      enctype: "multipart/form-data",
      processData: false,
      contentType: false,
      url: "profile_update",
      data: formData,
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
            window.location.reload();
          }, 2000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  });
</script>
